# #commercetools Composable Commerce
#
# No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
#
# OpenAPI spec version: v1
#
# Generated by: https://github.com/swagger-api/swagger-codegen.git
# Swagger Codegen version: 3.0.34

module CommercetoolsSdk
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [ApiClient]
    def by_project_key_api_clients_by_id_delete(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_api_clients_by_id_delete_with_http_info(project_key, id, opts)
      data
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiClient, Integer, Hash)>] ApiClient data, response status code and response headers
    def by_project_key_api_clients_by_id_delete_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_api_clients_by_id_delete ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_api_clients_by_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_api_clients_by_id_delete"
      end

      # resource path
      local_var_path = '/{projectKey}/api-clients/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'ApiClient'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_api_clients_by_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [ApiClient]
    def by_project_key_api_clients_by_id_get(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_api_clients_by_id_get_with_http_info(project_key, id, opts)
      data
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiClient, Integer, Hash)>] ApiClient data, response status code and response headers
    def by_project_key_api_clients_by_id_get_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_api_clients_by_id_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_api_clients_by_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_api_clients_by_id_get"
      end

      # resource path
      local_var_path = '/{projectKey}/api-clients/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'ApiClient'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_api_clients_by_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [ApiClientPagedQueryResponse]
    def by_project_key_api_clients_get(project_key, opts = {})
      data, _status_code, _headers = by_project_key_api_clients_get_with_http_info(project_key, opts)
      data
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [Array<(ApiClientPagedQueryResponse, Integer, Hash)>] ApiClientPagedQueryResponse data, response status code and response headers
    def by_project_key_api_clients_get_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_api_clients_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_api_clients_get"
      end

      # resource path
      local_var_path = '/{projectKey}/api-clients'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?
      query_params[:sort] = @api_client.build_collection_param(opts[:sort], :multi) if !opts[:sort].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:offset] = opts[:offset] if !opts[:offset].nil?
      query_params[:withTotal] = opts[:with_total] if !opts[:with_total].nil?
      query_params[:where] = @api_client.build_collection_param(opts[:where], :multi) if !opts[:where].nil?
      query_params[:'/^var[.][a-zA-Z0-9]+$/'] = @api_client.build_collection_param(opts[:var___a_z_a_z0_9], :multi) if !opts[:var___a_z_a_z0_9].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'ApiClientPagedQueryResponse'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_api_clients_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [ApiClientDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [ApiClient]
    def by_project_key_api_clients_post(project_key, opts = {})
      data, _status_code, _headers = by_project_key_api_clients_post_with_http_info(project_key, opts)
      data
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [ApiClientDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(ApiClient, Integer, Hash)>] ApiClient data, response status code and response headers
    def by_project_key_api_clients_post_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_api_clients_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_api_clients_post"
      end

      # resource path
      local_var_path = '/{projectKey}/api-clients'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'ApiClient'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_api_clients_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param id
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [CartDiscount]
    def by_project_key_cart_discounts_by_id_delete(project_key, id, version, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_by_id_delete_with_http_info(project_key, id, version, opts)
      data
    end

    # @param project_key
    # @param id
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(CartDiscount, Integer, Hash)>] CartDiscount data, response status code and response headers
    def by_project_key_cart_discounts_by_id_delete_with_http_info(project_key, id, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_by_id_delete ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_by_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_cart_discounts_by_id_delete"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DefaultApi.by_project_key_cart_discounts_by_id_delete"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:version] = version
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'CartDiscount'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_by_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [CartDiscount]
    def by_project_key_cart_discounts_by_id_get(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_by_id_get_with_http_info(project_key, id, opts)
      data
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(CartDiscount, Integer, Hash)>] CartDiscount data, response status code and response headers
    def by_project_key_cart_discounts_by_id_get_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_by_id_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_by_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_cart_discounts_by_id_get"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'CartDiscount'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_by_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [CartDiscountUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [CartDiscount]
    def by_project_key_cart_discounts_by_id_post(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_by_id_post_with_http_info(project_key, id, opts)
      data
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [CartDiscountUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(CartDiscount, Integer, Hash)>] CartDiscount data, response status code and response headers
    def by_project_key_cart_discounts_by_id_post_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_by_id_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_by_id_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_cart_discounts_by_id_post"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'CartDiscount'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_by_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [CartDiscountPagedQueryResponse]
    def by_project_key_cart_discounts_get(project_key, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_get_with_http_info(project_key, opts)
      data
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [Array<(CartDiscountPagedQueryResponse, Integer, Hash)>] CartDiscountPagedQueryResponse data, response status code and response headers
    def by_project_key_cart_discounts_get_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_get"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?
      query_params[:sort] = @api_client.build_collection_param(opts[:sort], :multi) if !opts[:sort].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:offset] = opts[:offset] if !opts[:offset].nil?
      query_params[:withTotal] = opts[:with_total] if !opts[:with_total].nil?
      query_params[:where] = @api_client.build_collection_param(opts[:where], :multi) if !opts[:where].nil?
      query_params[:'/^var[.][a-zA-Z0-9]+$/'] = @api_client.build_collection_param(opts[:var___a_z_a_z0_9], :multi) if !opts[:var___a_z_a_z0_9].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'CartDiscountPagedQueryResponse'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param key
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [CartDiscount]
    def by_project_key_cart_discounts_key_by_key_delete(project_key, key, version, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_key_by_key_delete_with_http_info(project_key, key, version, opts)
      data
    end

    # @param project_key
    # @param key
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(CartDiscount, Integer, Hash)>] CartDiscount data, response status code and response headers
    def by_project_key_cart_discounts_key_by_key_delete_with_http_info(project_key, key, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_key_by_key_delete ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_key_by_key_delete"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_cart_discounts_key_by_key_delete"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DefaultApi.by_project_key_cart_discounts_key_by_key_delete"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:version] = version
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'CartDiscount'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_key_by_key_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [CartDiscount]
    def by_project_key_cart_discounts_key_by_key_get(project_key, key, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_key_by_key_get_with_http_info(project_key, key, opts)
      data
    end

    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(CartDiscount, Integer, Hash)>] CartDiscount data, response status code and response headers
    def by_project_key_cart_discounts_key_by_key_get_with_http_info(project_key, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_key_by_key_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_key_by_key_get"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_cart_discounts_key_by_key_get"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'CartDiscount'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_key_by_key_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [CartDiscountUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [CartDiscount]
    def by_project_key_cart_discounts_key_by_key_post(project_key, key, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_key_by_key_post_with_http_info(project_key, key, opts)
      data
    end

    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [CartDiscountUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(CartDiscount, Integer, Hash)>] CartDiscount data, response status code and response headers
    def by_project_key_cart_discounts_key_by_key_post_with_http_info(project_key, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_key_by_key_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_key_by_key_post"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_cart_discounts_key_by_key_post"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'CartDiscount'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_key_by_key_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [CartDiscountDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [CartDiscount]
    def by_project_key_cart_discounts_post(project_key, opts = {})
      data, _status_code, _headers = by_project_key_cart_discounts_post_with_http_info(project_key, opts)
      data
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [CartDiscountDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(CartDiscount, Integer, Hash)>] CartDiscount data, response status code and response headers
    def by_project_key_cart_discounts_post_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_cart_discounts_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_cart_discounts_post"
      end

      # resource path
      local_var_path = '/{projectKey}/cart-discounts'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'CartDiscount'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_cart_discounts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param id
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :data_erasure
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_by_id_delete(project_key, id, version, opts = {})
      data, _status_code, _headers = by_project_key_carts_by_id_delete_with_http_info(project_key, id, version, opts)
      data
    end

    # @param project_key
    # @param id
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :data_erasure
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_by_id_delete_with_http_info(project_key, id, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_by_id_delete ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_by_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_carts_by_id_delete"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DefaultApi.by_project_key_carts_by_id_delete"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:version] = version
      query_params[:dataErasure] = opts[:data_erasure] if !opts[:data_erasure].nil?
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_by_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The cart may not contain up-to-date prices, discounts etc. If you want to ensure they're up-to-date, send an Update request with the Recalculate update action instead.
    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_by_id_get(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_carts_by_id_get_with_http_info(project_key, id, opts)
      data
    end

    # The cart may not contain up-to-date prices, discounts etc. If you want to ensure they&#x27;re up-to-date, send an Update request with the Recalculate update action instead.
    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_by_id_get_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_by_id_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_by_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_carts_by_id_get"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_by_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [CartUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_by_id_post(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_carts_by_id_post_with_http_info(project_key, id, opts)
      data
    end

    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [CartUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_by_id_post_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_by_id_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_by_id_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_carts_by_id_post"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_by_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the active cart of the customer that has been modified most recently. It does not consider carts with CartOrigin Merchant. If no active cart exists, a 404 Not Found error is returned.  The cart may not contain up-to-date prices, discounts etc. If you want to ensure they're up-to-date, send an Update request with the Recalculate update action instead.
    # @param project_key
    # @param customer_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_customer_id_by_customer_id_get(project_key, customer_id, opts = {})
      data, _status_code, _headers = by_project_key_carts_customer_id_by_customer_id_get_with_http_info(project_key, customer_id, opts)
      data
    end

    # Retrieves the active cart of the customer that has been modified most recently. It does not consider carts with CartOrigin Merchant. If no active cart exists, a 404 Not Found error is returned.  The cart may not contain up-to-date prices, discounts etc. If you want to ensure they&#x27;re up-to-date, send an Update request with the Recalculate update action instead.
    # @param project_key
    # @param customer_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_customer_id_by_customer_id_get_with_http_info(project_key, customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_customer_id_by_customer_id_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_customer_id_by_customer_id_get"
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling DefaultApi.by_project_key_carts_customer_id_by_customer_id_get"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/customer-id={customerId}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'customerId' + '}', customer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_customer_id_by_customer_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [CartPagedQueryResponse]
    def by_project_key_carts_get(project_key, opts = {})
      data, _status_code, _headers = by_project_key_carts_get_with_http_info(project_key, opts)
      data
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [Array<(CartPagedQueryResponse, Integer, Hash)>] CartPagedQueryResponse data, response status code and response headers
    def by_project_key_carts_get_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_get"
      end

      # resource path
      local_var_path = '/{projectKey}/carts'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?
      query_params[:sort] = @api_client.build_collection_param(opts[:sort], :multi) if !opts[:sort].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:offset] = opts[:offset] if !opts[:offset].nil?
      query_params[:withTotal] = opts[:with_total] if !opts[:with_total].nil?
      query_params[:where] = @api_client.build_collection_param(opts[:where], :multi) if !opts[:where].nil?
      query_params[:'/^var[.][a-zA-Z0-9]+$/'] = @api_client.build_collection_param(opts[:var___a_z_a_z0_9], :multi) if !opts[:var___a_z_a_z0_9].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'CartPagedQueryResponse'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param key
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :data_erasure
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_key_by_key_delete(project_key, key, version, opts = {})
      data, _status_code, _headers = by_project_key_carts_key_by_key_delete_with_http_info(project_key, key, version, opts)
      data
    end

    # @param project_key
    # @param key
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :data_erasure
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_key_by_key_delete_with_http_info(project_key, key, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_key_by_key_delete ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_key_by_key_delete"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_carts_key_by_key_delete"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DefaultApi.by_project_key_carts_key_by_key_delete"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:version] = version
      query_params[:dataErasure] = opts[:data_erasure] if !opts[:data_erasure].nil?
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_key_by_key_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The cart may not contain up-to-date prices, discounts etc. If you want to ensure they're up-to-date, send an Update request with the Recalculate update action instead.
    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_key_by_key_get(project_key, key, opts = {})
      data, _status_code, _headers = by_project_key_carts_key_by_key_get_with_http_info(project_key, key, opts)
      data
    end

    # The cart may not contain up-to-date prices, discounts etc. If you want to ensure they&#x27;re up-to-date, send an Update request with the Recalculate update action instead.
    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_key_by_key_get_with_http_info(project_key, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_key_by_key_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_key_by_key_get"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_carts_key_by_key_get"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_key_by_key_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [CartUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_key_by_key_post(project_key, key, opts = {})
      data, _status_code, _headers = by_project_key_carts_key_by_key_post_with_http_info(project_key, key, opts)
      data
    end

    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [CartUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_key_by_key_post_with_http_info(project_key, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_key_by_key_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_key_by_key_post"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_carts_key_by_key_post"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_key_by_key_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creating a cart can fail with an InvalidOperation if the referenced shipping method in the CartDraft has a predicate which does not match the cart.
    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [CartDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Cart]
    def by_project_key_carts_post(project_key, opts = {})
      data, _status_code, _headers = by_project_key_carts_post_with_http_info(project_key, opts)
      data
    end

    # Creating a cart can fail with an InvalidOperation if the referenced shipping method in the CartDraft has a predicate which does not match the cart.
    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [CartDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_post_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_post"
      end

      # resource path
      local_var_path = '/{projectKey}/carts'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [ReplicaCartDraft] :body
    # @return [Cart]
    def by_project_key_carts_replicate_post(project_key, opts = {})
      data, _status_code, _headers = by_project_key_carts_replicate_post_with_http_info(project_key, opts)
      data
    end

    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [ReplicaCartDraft] :body
    # @return [Array<(Cart, Integer, Hash)>] Cart data, response status code and response headers
    def by_project_key_carts_replicate_post_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_carts_replicate_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_carts_replicate_post"
      end

      # resource path
      local_var_path = '/{projectKey}/carts/replicate'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'Cart'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_carts_replicate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `manage_products:{projectKey}` or `manage_categories:{projectKey}` is required.
    # @param project_key
    # @param id
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Category]
    def by_project_key_categories_by_id_delete(project_key, id, version, opts = {})
      data, _status_code, _headers = by_project_key_categories_by_id_delete_with_http_info(project_key, id, version, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;manage_products:{projectKey}&#x60; or &#x60;manage_categories:{projectKey}&#x60; is required.
    # @param project_key
    # @param id
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def by_project_key_categories_by_id_delete_with_http_info(project_key, id, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_by_id_delete ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_by_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_categories_by_id_delete"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DefaultApi.by_project_key_categories_by_id_delete"
      end

      # resource path
      local_var_path = '/{projectKey}/categories/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:version] = version
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Category'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_categories_by_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `view_products:{projectKey}` or `view_categories:{projectKey}` is required.
    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Category]
    def by_project_key_categories_by_id_get(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_categories_by_id_get_with_http_info(project_key, id, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;view_products:{projectKey}&#x60; or &#x60;view_categories:{projectKey}&#x60; is required.
    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def by_project_key_categories_by_id_get_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_by_id_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_by_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_categories_by_id_get"
      end

      # resource path
      local_var_path = '/{projectKey}/categories/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Category'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_categories_by_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `manage_products:{projectKey}` or `manage_categories:{projectKey}` is required.
    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [CategoryUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Category]
    def by_project_key_categories_by_id_post(project_key, id, opts = {})
      data, _status_code, _headers = by_project_key_categories_by_id_post_with_http_info(project_key, id, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;manage_products:{projectKey}&#x60; or &#x60;manage_categories:{projectKey}&#x60; is required.
    # @param project_key
    # @param id
    # @param [Hash] opts the optional parameters
    # @option opts [CategoryUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def by_project_key_categories_by_id_post_with_http_info(project_key, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_by_id_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_by_id_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.by_project_key_categories_by_id_post"
      end

      # resource path
      local_var_path = '/{projectKey}/categories/{ID}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'ID' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'Category'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_categories_by_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `view_products:{projectKey}` or `view_categories:{projectKey}` is required.
    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [CategoryPagedQueryResponse]
    def by_project_key_categories_get(project_key, opts = {})
      data, _status_code, _headers = by_project_key_categories_get_with_http_info(project_key, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;view_products:{projectKey}&#x60; or &#x60;view_categories:{projectKey}&#x60; is required.
    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @option opts [Array<Sort>] :sort
    # @option opts [Float] :limit
    # @option opts [Float] :offset
    # @option opts [BOOLEAN] :with_total
    # @option opts [Array<QueryPredicate>] :where
    # @option opts [Array<String>] :var___a_z_a_z0_9
    # @return [Array<(CategoryPagedQueryResponse, Integer, Hash)>] CategoryPagedQueryResponse data, response status code and response headers
    def by_project_key_categories_get_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_get"
      end

      # resource path
      local_var_path = '/{projectKey}/categories'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?
      query_params[:sort] = @api_client.build_collection_param(opts[:sort], :multi) if !opts[:sort].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:offset] = opts[:offset] if !opts[:offset].nil?
      query_params[:withTotal] = opts[:with_total] if !opts[:with_total].nil?
      query_params[:where] = @api_client.build_collection_param(opts[:where], :multi) if !opts[:where].nil?
      query_params[:'/^var[.][a-zA-Z0-9]+$/'] = @api_client.build_collection_param(opts[:var___a_z_a_z0_9], :multi) if !opts[:var___a_z_a_z0_9].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'CategoryPagedQueryResponse'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `manage_products:{projectKey}` or `manage_categories:{projectKey}` is required.
    # @param project_key
    # @param key
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Category]
    def by_project_key_categories_key_by_key_delete(project_key, key, version, opts = {})
      data, _status_code, _headers = by_project_key_categories_key_by_key_delete_with_http_info(project_key, key, version, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;manage_products:{projectKey}&#x60; or &#x60;manage_categories:{projectKey}&#x60; is required.
    # @param project_key
    # @param key
    # @param version
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def by_project_key_categories_key_by_key_delete_with_http_info(project_key, key, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_key_by_key_delete ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_key_by_key_delete"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_categories_key_by_key_delete"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DefaultApi.by_project_key_categories_key_by_key_delete"
      end

      # resource path
      local_var_path = '/{projectKey}/categories/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:version] = version
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Category'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_categories_key_by_key_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `view_products:{projectKey}` or `view_categories:{projectKey}` is required.
    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Category]
    def by_project_key_categories_key_by_key_get(project_key, key, opts = {})
      data, _status_code, _headers = by_project_key_categories_key_by_key_get_with_http_info(project_key, key, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;view_products:{projectKey}&#x60; or &#x60;view_categories:{projectKey}&#x60; is required.
    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def by_project_key_categories_key_by_key_get_with_http_info(project_key, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_key_by_key_get ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_key_by_key_get"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_categories_key_by_key_get"
      end

      # resource path
      local_var_path = '/{projectKey}/categories/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'Category'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_categories_key_by_key_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `manage_products:{projectKey}` or `manage_categories:{projectKey}` is required.
    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [CategoryUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Category]
    def by_project_key_categories_key_by_key_post(project_key, key, opts = {})
      data, _status_code, _headers = by_project_key_categories_key_by_key_post_with_http_info(project_key, key, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;manage_products:{projectKey}&#x60; or &#x60;manage_categories:{projectKey}&#x60; is required.
    # @param project_key
    # @param key
    # @param [Hash] opts the optional parameters
    # @option opts [CategoryUpdate] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def by_project_key_categories_key_by_key_post_with_http_info(project_key, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_key_by_key_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_key_by_key_post"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DefaultApi.by_project_key_categories_key_by_key_post"
      end

      # resource path
      local_var_path = '/{projectKey}/categories/key={key}'.sub('{' + 'projectKey' + '}', project_key.to_s).sub('{' + 'key' + '}', key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:body])

      return_type = opts[:return_type] || 'Category'

      auth_names = opts[:auth_names] || ['oauth_2_0']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
                                                        header_params: header_params,
                                                        query_params: query_params,
                                                        form_params: form_params,
                                                        body: post_body,
                                                        auth_names: auth_names,
                                                        return_type: return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#by_project_key_categories_key_by_key_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Either the [scope](/../api/scopes) `manage_products:{projectKey}` or `manage_categories:{projectKey}` is required.  Creating a Category produces the [CategoryCreatedMessage](/../api/message-types#categorycreatedmessage).
    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [CategoryDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Category]
    def by_project_key_categories_post(project_key, opts = {})
      data, _status_code, _headers = by_project_key_categories_post_with_http_info(project_key, opts)
      data
    end

    # Either the [scope](/../api/scopes) &#x60;manage_products:{projectKey}&#x60; or &#x60;manage_categories:{projectKey}&#x60; is required.  Creating a Category produces the [CategoryCreatedMessage](/../api/message-types#categorycreatedmessage).
    # @param project_key
    # @param [Hash] opts the optional parameters
    # @option opts [CategoryDraft] :body
    # @option opts [Array<Expansion>] :expand
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def by_project_key_categories_post_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.by_project_key_categories_post ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.by_project_key_categories_post"
      end

      # resource path
      local_var_path = '/{projectKey}/categories'.sub('{' + 'projectKey' + '}', project_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:expand] = @api_client.build_collection_param(opts[:expand], :multi) if !opts[:expand].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
[...]
